---
layout: default
---

{% assign tags = page.tags %}

<!-- Facebook Share Button -->



<article class="post">
  <h1>{{ page.title }}</h1>
  <div class="posted">
    Posted on {{ page.date | date: "%B %e, %Y" }}{% if page.author %} by {{page.author}}{% endif %}
    <span class="post-meta">
  <div class="post-tags">
    {% if tags %}
    Tags: 
    {% for tag in tags %}
      <a href="{{ site.baseurl }}/tags#{{ tag | slugize }}">
        {{ tag }}
      </a>
    {% endfor %}
    {% endif %}
  </div>
</span>

  </div>
  <div class="entry">

    {{ content }}
  </div>

  <div id="share-buttons">
    <!-- Twitter Share Button -->
    <a class="btnz share twitter_link" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.fullurl }}{{ page.url }}&via={{ site.footer-links.twitter }}&related={{ site.footer-links.twitter }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter"></i> Tweet</a>
    <!-- Facebook Share Button -->
    <a class="btnz share facebook"  href="https://facebook.com/sharer.php?u={{ site.fullurl }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook"></i> Share</a>
    <!-- Googple Plus Share Button -->
    <a class="btnz share gplus" href="https://plus.google.com/share?url={{ site.fullurl }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"><i class="fa fa-google-plus"></i> Share</a>

  </div>

  <div style="clear:both;"></div>

  {% include disqus.html %}
</article>


