---
layout: default
---

{% assign tags = page.tags %}

<!-- Facebook Share Button -->
<a class="btnz share facebook" href="#"><i class="fa fa-facebook"></i> Share</a>
<!-- Googple Plus Share Button -->
<a class="btnz share gplus" href="#"><i class="fa fa-google-plus"></i> Share</a>
<!-- Twitter Share Button -->
<a class="btnz share twitter" href="#"><i class="fa fa-twitter"></i> Tweet</a>


<article class="post">
  <h1>{{ page.title }}</h1>
  <div class="posted">
    Posted on {{ page.date | date: "%B %e, %Y" }}{% if page.author %} by {{page.author}}{% endif %}
    <span class="post-meta">
  <div class="post-tags">
    {% if tags %}
    Tags: 
    {% for tag in tags %}
      <a href="{{ site.baseurl }}/tags#{{ tag | slugize }}">
        {{ tag }}
      </a>
    {% endfor %}
    {% endif %}
  </div>
</span>

  </div>
  <div class="entry">
    {{ content }}
  </div>

<!--  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div> -->

  {% include disqus.html %}
</article>


