---
layout: default
---

<div class="subnavdiv">
  <ul class="subnav">
    <li><a href="{{ site.baseurl }}/resources/software">Software</a></li>
    <li><a href="{{ site.baseurl }}/resources/blogroll">Blogroll</a></li>
    <li><a href="{{ site.baseurl }}/resources/encoding">Encoding</a></li>    
    <li><a href="{{ site.baseurl }}/resources/bibliographic">Bibliographic</a></li>    
  </ul>
</div>

<div style="clear:both;">
<article class="page">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>
</article>

</div>
